# unpacked plugin folders
plugins/**/*

# files directory where uploads go
files

# DBMigrate plugin: generated SQL
db/sql

# generated log files
Gamelog.log.*

# Periferal files
Periferal Files

# Other file directories
Sounds
SoundsFull
Textures
images
Images
ImagesFull
Libraries
SaveGames
.*

# AssetBundler plugin: generated bundles
javascripts/bundles
stylesheets/bundles
